<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" type="text/css" href="../../xxx/sample.css"></link>
    <title></title>
  </head>
  <body>
   <b>hi</b>
   <h1>I am in India aaa</h1>
   <form action="/test" method="post">
      ID:<input type="text" name="id"/></br>
      Name:<input type="text" name="name"/></br>
      Age:<input type="text" name="age"/></br>
        <input type="submit" value="Submit"/>
   </form>
  </body>
</html>
